# Ignorar diretórios de ambientes virtuais
venv/
env/
lib/
Lib/
 c:/Users/Jarom.marques/Documents/GitHub/Python_RAD/env/

# Ignorar pacotes instalados pelo pip em um ambiente virtual local
Lib/site-packages/
lib/python*/site-packages/
